In [45]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re

In [35]:
df = pd.read_csv('/Users/josephhartono/Documents/GitHub/NBA-Draft-Biola-Summer-Research/combinedDraftGrades10-16')

In [37]:
df1 = pd.read_csv('/Users/josephhartono/Documents/GitHub/NBA-Draft-Biola-Summer-Research/draft_nba_data_2000_2016_w_PIE_and_salaries_and college_stats.csv')

In [62]:
df2 = pd.read_csv('/Users/josephhartono/Downloads/nba_files/draftScores.csv')

In [63]:
# display(df)
#display(df1)
display(df2)

,index,pm,name,score,height,weight,position,school,year
0,2,1.0,Evan Turner,97,6-7,214,SG,Ohio St.,Jr.
1,3,1.0,Derrick Favors,98,6-10,245,PF,Georgia Tech,Fr.
2,4,1.0,Wesley Johnson,97,6-7,206,SF,Syracuse,Jr.
3,5,1.0,Greg Monroe,96,6-11,247,PF/C,Georgetown,So.
4,6,1.0,Patrick Patterson,96,6-9,240,PF,Kentucky,Jr.
...,...,...,...,...,...,...,...,...,...
688,96,1.0,Stefan Jankovic,0,6-11,235,PF,Hawaii,Jr.
689,97,1.0,Brannen Greene,0,6-7,215,SG/SF,Kansas,Jr.
690,98,1.0,D'Vauntes Smith-Rivera,0,6-3,215,PG/SG,Georgetown,Sr.
691,99,1.0,Goodluck Okonoboh,0,6-10,225,C,UNLV,So.
692,100,1.0,Emmanuel Malou,0,6-9,215,SF/PF,JUCO,So.

In [47]:
names = []
for name in df['name']:
    names.append(re.sub(r"(?<=\w)([A-Z])", r" \1", name))

In [56]:
df['name'] = names
df.to_csv('removeInvis.csv')

In [64]:
draft_grades = []
for name in df1['PLAYER_NAME_x']:
    try:
        player = df2[df2['name'] == name]
        player.head(1)
        score = player['score']
        score = score.values
        score = score[0]
        draft_grades.append(score)
    except:
        draft_grades.append(-1)
        print("not found")

not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found

In [65]:
draft_grades

[-1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 85,
 93,
 96,
 94,
 90,
 90,
 93,
 -1,
 89,
 94,
 98,
 95,
 89,
 92,
 93,
 89,
 92,
 97,
 91,
 96,
 92,
 96,
 92,
 91,
 97,
 92,
 -1,
 94,
 95,
 88,
 91,
 92,
 91,
 78,
 89,
 96,
 88,
 93,
 90,
 88,
 -1,
 78,
 94,
 92,
 89,
 89,
 90,
 78,
 90,
 -1,
 92,
 93,
 90,
 95,
 -1,
 86,
 97,
 89,
 94,
 88,
 71,
 90,
 99,
 89,
 89,
 -1,
 94,
 87,
 87,
 92,
 0,
 93,
 94,
 96,
 92,
 97,
 95,
 96,
 93,
 90,
 89,
 89,
 90,
 93,
 0,
 86,
 94,
 97,
 96,
 89,
 0,
 92,
 -1,
 93,
 89,
 92,
 93,
 92,
 0,
 90,
 88,
 93,
 93,
 91,
 92,
 88,
 90,
 87,
 87,
 90,
 89,
 89,
 89,
 -1,
 89,
 87,
 88,
 0,
 -1,
 -1,
 -1,
 88,
 92,
 86,
 88,
 94,
 92,
 91,
 94,
 85,
 89,
 87,
 86,
 92,
 87,
 89,
 91,
 95,
 91,
 86,
 87,
 88,
 85,
 91,
 86,
 91,
 91,
 84,
 93,
 93,
 -1,
 92,
 -1,
 -1,
 94,
 87,
 89,
 84,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 93,
 -1,
 94,
 87,
 96,
 -1,
 96,
 85,
 92,
 87,
 84,
 95,
 -1,
 -1,
 92,
 92,
 87,
 89,
 0,
 87,
 91,
 88,
 86,
 71,
 94,
 -1,
 0,
 89,
 89,
 87,
 86,
 0,
 90,
 91,
 89,
 -1,
 0,
 89,
 91,
 89,
 -1,
 90,
 93,
 93,
 90,
 91,
 91,
 89,
 86,
 92,
 0,
 85,
 -1,
 91,
 84,
 86,
 93,
 91,
 -1,
 -1,
 89,
 90,
 89,
 93,
 89,
 91,
 88,
 -1,
 86,
 92,
 88,
 89,
 92,
 92,
 87,
 -1,
 72,
 85,
 88,
 -1,
 90,
 86,
 92,
 90,
 89,
 89,
 87,
 91,
 89,
 86,
 84,
 91]

In [67]:
df1['grades'] = draft_grades

In [68]:
df1

,PLAYER_ID,FIRST_NAME_x,LAST_NAME_x,PLAYER_NAME_x,POSITION_x,HEIGHT_WO_SHOES,HEIGHT_WO_SHOES_FT_IN,WEIGHT,WINGSPAN,WINGSPAN_FT_IN,...,AST,STL,BLK,TOV,PF,PTS,PIE_5_YR,5th_YR_SALARY,5th_YR_SALARY_TAG,grades
0,2037,Jamal,Crawford,Jamal Crawford,PG-SG,76.50,6' 4.5'',175.0,82.00,6' 10'',...,4.5,1.1,0.9,3.1,1.1,16.6,9.7,5760000,above average,-1
1,2084,Chris,Porter,Chris Porter,SF-PF,77.50,6' 5.5'',214.0,81.50,6' 9.5'',...,1.2,2.0,0.3,2.1,2.7,14.6,0.0,0,no contract,-1
2,2217,Brendan,Haywood,Brendan Haywood,C,83.75,6' 11.75'',266.0,90.50,7' 6.5'',...,1.3,0.5,3.6,2.0,2.9,12.3,5.0,4000000,average,-1
3,2210,Richard,Jefferson,Richard Jefferson,SF,79.25,6' 7.25'',223.0,84.00,7' 0'',...,2.7,0.8,0.8,3.0,2.8,11.3,14.5,10200000,near max,-1
4,2207,Joe,Johnson,Joe Johnson,SF-SG,78.75,6' 6.75'',226.0,81.00,6' 9'',...,2.6,1.4,0.4,2.3,1.5,14.2,12.5,12000000,near max,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,1627756,Denzel,Valentine,Denzel Valentine,SG-SF,76.00,6' 4'',210.4,82.75,6' 10.75'',...,7.8,1.0,0.2,2.7,1.7,19.2,8.5,0,no contract,91
394,1627785,Isaiah,Whitehead,Isaiah Whitehead,PG-SG,75.25,6' 3.25'',210.0,80.75,6' 8.75'',...,5.1,1.2,1.4,3.5,2.3,18.2,0.0,0,no contract,89
395,1627786,Troy,Williams,Troy Williams,SF,77.75,6' 5.75'',217.8,80.25,6' 8.25'',...,2.0,1.1,0.8,2.7,2.2,13.3,0.0,0,no contract,86
396,1627787,Kyle,Wiltjer,Kyle Wiltjer,PF,80.75,6' 8.75'',242.8,84.25,7' 0.25'',...,1.5,0.4,0.8,2.1,1.8,20.4,0.0,0,no contract,84
397,1627757,Stephen,Zimmerman,Stephen Zimmerman,C,82.25,6' 10.25'',234.0,87.25,7' 3.25'',...,0.8,0.5,2.0,2.1,3.0,10.5,0.0,0,no contract,91

In [72]:
negs = df1[df1['grades'] != -1]
negs

,PLAYER_ID,FIRST_NAME_x,LAST_NAME_x,PLAYER_NAME_x,POSITION_x,HEIGHT_WO_SHOES,HEIGHT_WO_SHOES_FT_IN,WEIGHT,WINGSPAN,WINGSPAN_FT_IN,...,AST,STL,BLK,TOV,PF,PTS,PIE_5_YR,5th_YR_SALARY,5th_YR_SALARY_TAG,grades
142,201977,Marcus,Thornton,Marcus Thornton,SG,74.75,6' 2.75'',194.4,77.00,6' 5'',...,2.1,1.6,0.4,1.8,2.1,21.1,7.4,8050000,above average,85
143,202332,Cole,Aldrich,Cole Aldrich,C,81.00,6' 9'',236.0,88.75,7' 4.75'',...,0.9,0.8,3.5,1.6,2.6,11.3,13.3,981084,below average,93
144,202329,Al-Farouq,Aminu,Al-Farouq Aminu,SF,79.25,6' 7.25'',216.0,87.25,7' 3.25'',...,1.3,1.4,1.4,3.2,2.9,15.8,9.1,981084,below average,96
145,202337,Luke,Babbitt,Luke Babbitt,SF-PF,79.50,6' 7.5'',217.8,83.25,6' 11.25'',...,2.1,1.0,0.8,2.4,2.6,21.9,7.2,981084,below average,94
146,202339,Eric,Bledsoe,Eric Bledsoe,PG,72.25,6' 0.25'',191.6,79.50,6' 7.5'',...,2.9,1.4,0.3,3.0,2.2,11.3,13.0,12173913,near max,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,1627756,Denzel,Valentine,Denzel Valentine,SG-SF,76.00,6' 4'',210.4,82.75,6' 10.75'',...,7.8,1.0,0.2,2.7,1.7,19.2,8.5,0,no contract,91
394,1627785,Isaiah,Whitehead,Isaiah Whitehead,PG-SG,75.25,6' 3.25'',210.0,80.75,6' 8.75'',...,5.1,1.2,1.4,3.5,2.3,18.2,0.0,0,no contract,89
395,1627786,Troy,Williams,Troy Williams,SF,77.75,6' 5.75'',217.8,80.25,6' 8.25'',...,2.0,1.1,0.8,2.7,2.2,13.3,0.0,0,no contract,86
396,1627787,Kyle,Wiltjer,Kyle Wiltjer,PF,80.75,6' 8.75'',242.8,84.25,7' 0.25'',...,1.5,0.4,0.8,2.1,1.8,20.4,0.0,0,no contract,84
397,1627757,Stephen,Zimmerman,Stephen Zimmerman,C,82.25,6' 10.25'',234.0,87.25,7' 3.25'',...,0.8,0.5,2.0,2.1,3.0,10.5,0.0,0,no contract,91

In [73]:
negs.to_csv('draft_data_phys_college_pie_sal_grades')