In [1]:
import pandas as pd
import numpy as np
from mpl_toolkits import mplot3d
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt

In [38]:
df = pd.read_csv('/Users/josephhartono/Documents/GitHub/NBA-Draft-Biola-Summer-Research/FINAL_data_pie_draftyear_overall_salary', index_col=[0])
df = df[['overall','yearsAfter','PIE', 'salary', 'Year']]
df = df.rename(columns={"overall":"x"})
df = df.rename(columns={"PIE":"z1"})
df = df.rename(columns={"salary":"z2"})
df = df.rename(columns={"yearsAfter":"y"})
df

FileNotFoundError: [Errno 2] No such file or directory: '/Users/josephhartono/Documents/GitHub/NBA-Draft-Biola-Summer-Research/FINAL_data_pie_draftyear_overall_salary'

In [11]:
df[(df['x'] == 1) & (df['Year'] == 1996)]

       x  y    z1        z2  Year
9    1.0  0  10.7   2267000  1996
78   1.0  3  15.0   8000000  1996
179  1.0  2  11.8   4640000  1996
231  1.0  1   9.9   2794000  1996
264  1.0  5   9.4   5004000  1996
378  1.0  4  18.4  10714000  1996

In [22]:
#normalize the salaries and pie scores
#salary

max_salaries = []

for year in set(df['Year']):
    money = df.loc[df['Year'] == year]
    _max = 0
    for sal in money['z2']:
        if sal > _max:
            _max = sal
    
    max_salaries.append(_max)
max_salaries

norm_sals = []
for row in df.itertuples():
     
    try:
        norm_sals.append(row.z2 / max_salaries[(row.Year - 1996)])
    except:
        print(error)

In [25]:
df['norm_sal'] = norm_sals

In [28]:
max_pie = []

for year in set(df['Year']):
    pie = df.loc[df['Year'] == year]
    _max = 0
    for p in pie['z1']:
        if p > _max:
            _max = p
    
    max_pie.append(_max)
max_salaries

norm_pies = []
for row in df.itertuples():
     
    try:
        norm_pies.append(row.z1 / max_pie[(row.Year - 1996)])
    except:
        print(error)

In [29]:
df['norm_pie'] = norm_pies
df

         x   y    z1        z2  Year  norm_sal  norm_pie
1     17.0   2   9.5   1040000  1996  0.097069  0.487179
3     19.0   3   5.6   1235000  1996  0.115270  0.287179
4     10.0   4   8.3   1950000  1996  0.182005  0.425641
6     16.0   1   7.5    910000  1996  0.084936  0.384615
8     11.0   3   7.8   5000000  1996  0.466679  0.400000
...    ...  ..   ...       ...   ...       ...       ...
9557  35.0   1  13.3   1375000  2016  0.044407  0.578261
9558  23.0   9   9.8  11200000  2016  0.361717  0.426087
9560  13.0   2   9.5   2240880  2016  0.072372  0.413043
9561  19.0  15  15.2  10361445  2016  0.334635  0.660870
9562  42.0  13  10.0   2898000  2016  0.093594  0.434783

[6908 rows x 7 columns]

In [30]:
max(df['norm_pie'])

1.0

In [34]:
df= df[['x','y', 'norm_sal', 'norm_pie', 'Year']]
df.rename(columns={"x":"overall"})
df.rename(columns={"y":"yearAfter"})

         x  yearAfter  norm_sal  norm_pie  Year
1     17.0          2  0.097069  0.487179  1996
3     19.0          3  0.115270  0.287179  1996
4     10.0          4  0.182005  0.425641  1996
6     16.0          1  0.084936  0.384615  1996
8     11.0          3  0.466679  0.400000  1996
...    ...        ...       ...       ...   ...
9557  35.0          1  0.044407  0.578261  2016
9558  23.0          9  0.361717  0.426087  2016
9560  13.0          2  0.072372  0.413043  2016
9561  19.0         15  0.334635  0.660870  2016
9562  42.0         13  0.093594  0.434783  2016

[6908 rows x 5 columns]

In [37]:
df.to_csv('3D data.csv')