In [2]:
import pandas as pd
import numpy as np
#salaries = pd.read_csv('/Users/Tim/Documents/salaries_1985to2018.csv')
#players = pd.read_csv('/Users/Tim/Downloads/players.csv')
salaries = pd.read_csv('/Users/Tim/Documents/GitHub/NBA-Draft-Biola-Summer-Research/nba_salaries_1984_to_2017.csv')

In [2]:
#merged = pd.merge(left=salaries, right=players, left_on='player_id', right_on='_id')
#display(salaries)
#display(players)
display(salaries)
#merged.to_csv('nba_salaries_1984_to_2017.csv', index = False)

,league,player_id,salary,season,season_end,season_start,team,_id,birthDate,birthPlace,...,draft_pick,draft_round,draft_team,draft_year,height,highSchool,name,position,shoots,weight
0,NBA,abdelal01,395000,1990-91,1991,1990,Portland Trail Blazers,abdelal01,24-Jun-68,"Cairo, Egypt",...,25,1,Portland Trail Blazers,1990.0,10-Jun,"Bloomfield in Bloomfield, New Jersey",Alaa Abdelnaby,Power Forward,Right,240lb
1,NBA,abdelal01,494000,1991-92,1992,1991,Portland Trail Blazers,abdelal01,24-Jun-68,"Cairo, Egypt",...,25,1,Portland Trail Blazers,1990.0,10-Jun,"Bloomfield in Bloomfield, New Jersey",Alaa Abdelnaby,Power Forward,Right,240lb
2,NBA,abdelal01,500000,1992-93,1993,1992,Boston Celtics,abdelal01,24-Jun-68,"Cairo, Egypt",...,25,1,Portland Trail Blazers,1990.0,10-Jun,"Bloomfield in Bloomfield, New Jersey",Alaa Abdelnaby,Power Forward,Right,240lb
3,NBA,abdelal01,805000,1993-94,1994,1993,Boston Celtics,abdelal01,24-Jun-68,"Cairo, Egypt",...,25,1,Portland Trail Blazers,1990.0,10-Jun,"Bloomfield in Bloomfield, New Jersey",Alaa Abdelnaby,Power Forward,Right,240lb
4,NBA,abdelal01,650000,1994-95,1995,1994,Sacramento Kings,abdelal01,24-Jun-68,"Cairo, Egypt",...,25,1,Portland Trail Blazers,1990.0,10-Jun,"Bloomfield in Bloomfield, New Jersey",Alaa Abdelnaby,Power Forward,Right,240lb
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14158,NBA,zipsepa01,750000,2016-17,2017,2016,Chicago Bulls,zipsepa01,18-Feb-94,"Heidelberg, Germany",...,48,2,Chicago Bulls,2016.0,8-Jun,NaN,Paul Zipser,Small Forward,Right,215lb
14159,NBA,zipsepa01,1312611,2017-18,2018,2017,Chicago Bulls,zipsepa01,18-Feb-94,"Heidelberg, Germany",...,48,2,Chicago Bulls,2016.0,8-Jun,NaN,Paul Zipser,Small Forward,Right,215lb
14160,NBA,zizican01,1645200,2017-18,2018,2017,Cleveland Cavaliers,zizican01,4-Jan-97,"Split, Croatia",...,23,1,Boston Celtics,2016.0,11-Jun,NaN,Ante Zizic,Center,Right,254lb
14161,NBA,zubaciv01,1034956,2016-17,2017,2016,Los Angeles Lakers,zubaciv01,18-Mar-97,"Mostar, Bosnia and Herzegovina",...,32,2,Los Angeles Lakers,2016.0,1-Jul,NaN,Ivica Zubac,Center,Right,240lb
14162,NBA,zubaciv01,1312611,2017-18,2018,2017,Los Angeles Lakers,zubaciv01,18-Mar-97,"Mostar, Bosnia and Herzegovina",...,32,2,Los Angeles Lakers,2016.0,1-Jul,NaN,Ivica Zubac,Center,Right,240lb

In [59]:
#ID = 2037
#from nba_api.stats.endpoints import commonplayerinfo
#info = commonplayerinfo.CommonPlayerInfo(player_id=ID).get_data_frames()[0]
#player_bday = info['BIRTHDATE'].values[0]
#display(info)
#idx = player_bday.repla()
#str2 = player_bday.substring('T')
#str1 = player_bday.replace('T00:00:00',"")
#str1 = str.replace('-',"")
#display(player_bday, str1)
#jcrawbday = '20-Mar-80'
import pandas as pd
def salary_binning(filepath,start_year,end_year):
    import pandas as pd
    import numpy as np
    #salaries = pd.read_csv('/Users/Tim/Documents/GitHub/NBA-Draft-Biola-Summer-Research/nba_salaries_1984_to_2017.csv')
    #salaries = pd.read_csv('/Users/Tim/Documents/GitHub/NBA-Draft-Biola-Summer-Research/nba_salaries_2018_to_2021.csv')
    salaries = pd.read_csv(filepath)
    #years = salaries['season_end'].values
    #years = np.arange(2019,2023, 1)1985,2018
    years = np.arange(start_year,end_year,1)
    
    #print(salaries['salary'])
    initial = 0
    for yr in years:
        if initial  == 0:
            df_current = salaries[salaries['season_end'] == yr].copy()
            df_current['salary_bin'] = pd.qcut(salaries['salary'],
                               q=[0, .2, .5, .8, .90, .95, 1],
                               labels=['minimum', 'below average', 'average', 'above average','near max', 'max'])
            initial = 1
        else:
            df_next = salaries[salaries['season_end'] == yr].copy()
            df_next['salary_bin'] = pd.qcut(salaries['salary'],
                               q=[0, .2, .5, .8, .90, .95, 1],
                               labels=['minimum', 'below average', 'average', 'above average','near max', 'max'])
            df_current = pd.concat([df_current, df_next], ignore_index=True)
    
    data_salaries = df_current
    return data_salaries

    
def getSalaryForData(salaries_df1,salaries_df2):
    import pandas as pd
    import numpy as np
    #salaries = pd.read_csv('/Users/Tim/Documents/GitHub/NBA-Draft-Biola-Summer-Research/nba_salaries_1984_to_2017.csv')
    data = pd.read_csv('/Users/Tim/Documents/GitHub/NBA-Draft-Biola-Summer-Research/draft_data_2000_2016_no_empty_cells.csv')
    
    data_names = np.array(data['PLAYER_NAME_x'])
    data_5th_year = np.array(data['DRAFT_CLASS'] + 5)
    #print(data_5th_year)
    
    #df_names = salaries[salaries.name.isin(data_names)]  #and (salaries.season_end.isin(data_5th_year))]
    #df_final = df_names[df_names.season_end.isin(data_5th_year)]
    salaries = []
    salaries_tag = []
    
    for name,year in zip(data_names,data_5th_year):
        if year <= 2018:
            salary = salaries_df1[(salaries_df1.name == name) & (salaries_df1.season_end == year)]
            if salary['salary'].values.size != 0:
                salaries.append(salary['salary'].values[0])
                salaries_tag.append(salary['salary_bin'].values[0])
            else:
                salaries.append(0)
                salaries_tag.append('no contract')
        else:
            salary2 = salaries_df2[(salaries_df2.name == name) & (salaries_df2.season_end == year)]
            #display(salaries_df2['name'].values)
            #print(salary2['salary'].values[0], salary2['salary_bin'].values[0])
            if salary2['salary'].values.size != 0:
                salaries.append(salary2['salary'].values[0])
                salaries_tag.append(salary2['salary_bin'].values[0])
            else:
                salaries.append(0)
                salaries_tag.append('no contract')
            #salaries.append(-1)
            #salaries_tag.append('no data')
        
    return salaries, salaries_tag
    #for name in data_names:

#salaries_df1 = salary_binning('/Users/Tim/Documents/GitHub/NBA-Draft-Biola-Summer-Research/nba_salaries_1984_to_2017.csv',1985,2018)
salaries_df2 = salary_binning('/Users/Tim/Documents/GitHub/NBA-Draft-Biola-Summer-Research/nba_salaries_2018_to_2021.csv',2019,2023)
display(salaries_df2[(salaries_df2.name == 'Stephen Curry') & (salaries_df2.season_start == 2018)], salaries_df2.head(1))
#salaries_df1.to_csv('nba_salaries_1984_to_2017_w_salary_tags.csv', index=False)
df_data = pd.read_csv('/Users/Tim/Documents/GitHub/NBA-Draft-Biola-Summer-Research/draft_data_2000_2016_no_empty_cells.csv')
#year_5_salaries, year_5_salaries_tags = getSalaryForData(salaries_df1,salaries_df2)
#print(year_5_salaries, len(year_5_salaries), len(df_data))
#print(year_5_salaries_tags, len(year_5_salaries_tags), len(df_data))

#df_data['5th_YR_SALARY'] = year_5_salaries
#df_data['5th_YR_SALARY_TAG'] = year_5_salaries_tags
#display(df_data[df_data['PLAYER_NAME_x'] == 'Victor Oladipo'])

#df_data.to_csv('draft_data_2000_2016_no_empty_cells_w_salaries.csv', index=False)
#pd.to_datetime(str1, format='%Y%d%m')

Empty DataFrame
Columns: [name, salary, season_start, season_end, salary_bin]
Index: []

             name    salary  season_start  season_end salary_bin
0  Stephen Curry   37457154          2018        2019        max

In [ ]:
#display(salries_df)
#salries_df.to_csv('nba_salaries_1984_to_2017_w_salary_tags.csv', index=False)

new_data = pd.read_csv('/Users/Tim/Documents/GitHub/NBA-Draft-Biola-Summer-Research/nba_salaries_1984_to_2017_w_salary_tags.csv')

salary_bins = new_data['salary_bin']

salary_bins.to_csv('nba_salaries_1984_to_2017_salary_tags.csv', index=False)

In [2]:
import numpy as np

years = np.arange(1985,2019, 1)
print(years)

[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015 2016 2017 2018]

In [6]:
def getPlayers(year):
    from nba_api.stats.endpoints import commonallplayers
    allPlayers = commonallplayers.CommonAllPlayers(is_only_current_season=0, league_id='00').get_data_frames()
    allPlayers = allPlayers[0]
    allPlayersThatYear = allPlayers[allPlayers['TO_YEAR'] >= str(year)]
    allPlayersThatYear = allPlayersThatYear[allPlayersThatYear['FROM_YEAR'] <= str(year)]
    return allPlayersThatYear
getPlayers(2015)

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FIRST_LAST,ROSTERSTATUS,FROM_YEAR,TO_YEAR,PLAYERCODE,PLAYER_SLUG,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,TEAM_SLUG,GAMES_PLAYED_FLAG,OTHERLEAGUE_EXPERIENCE_CH
15,203112,"Acy, Quincy",Quincy Acy,0,2012,2018,quincy_acy,quincy_acy,0,,,,,None,Y,01
20,203919,"Adams, Jordan",Jordan Adams,0,2014,2015,jordan_adams,jordan_adams,0,,,,,None,Y,01
22,203500,"Adams, Steven",Steven Adams,1,2013,2021,steven_adams,steven_adams,1610612763,Memphis,Grizzlies,MEM,grizzlies,grizzlies,Y,00
28,201167,"Afflalo, Arron",Arron Afflalo,0,2007,2017,arron_afflalo,arron_afflalo,0,,,,,None,Y,00
33,201582,"Ajinca, Alexis",Alexis Ajinca,0,2008,2017,alexis_ajinca,alexis_ajinca,0,,,,,None,Y,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4701,1626202,"Young, Joe",Joe Young,0,2015,2017,joe_young,joe_young,0,,,,,None,Y,11
4704,201156,"Young, Nick",Nick Young,0,2007,2018,nick_young,nick_young,0,,,,,None,Y,00
4707,201152,"Young, Thaddeus",Thaddeus Young,1,2007,2021,thaddeus_young,thaddeus_young,1610612761,Toronto,Raptors,TOR,raptors,raptors,Y,00
4713,203469,"Zeller, Cody",Cody Zeller,0,2013,2021,cody_zeller,cody_zeller,0,,,,,None,Y,00
4718,203092,"Zeller, Tyler",Tyler Zeller,0,2012,2019,tyler_zeller,tyler_zeller,0,,,,,None,Y,00

In [2]:
#Now i want to use 'PERSON_ID' to get the draft_info
#this draft info will be used in the dataframe "merged" to get the salaries

def getDraftInfo(season,league='00',):
    from nba_api.stats.endpoints import drafthistory
    draft = drafthistory.DraftHistory(league_id='00', season_year_nullable = season).get_data_frames()
    draft = draft[0]
    
    #draft_pick_year
    return draft

getDraftInfo('2001')

,PERSON_ID,PLAYER_NAME,SEASON,ROUND_NUMBER,ROUND_PICK,OVERALL_PICK,DRAFT_TYPE,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,ORGANIZATION,ORGANIZATION_TYPE,PLAYER_PROFILE_FLAG
0,2198,Kwame Brown,2001,1,1,1,Draft,1610612764,Washington,Wizards,WAS,Glynn Academy,High School,1
1,2199,Tyson Chandler,2001,1,2,2,Draft,1610612746,Los Angeles,Clippers,LAC,Dominguez,High School,1
2,2200,Pau Gasol,2001,1,3,3,Draft,1610612737,Atlanta,Hawks,ATL,FC Barcelona Basquet (Spain),Other Team/Club,1
3,2201,Eddy Curry,2001,1,4,4,Draft,1610612741,Chicago,Bulls,CHI,Thornwood,High School,1
4,2202,Jason Richardson,2001,1,5,5,Draft,1610612744,Golden State,Warriors,GSW,Michigan State,College/University,1
5,2203,Shane Battier,2001,1,6,6,Draft,1610612763,Memphis,Grizzlies,MEM,Duke,College/University,1
6,2204,Eddie Griffin,2001,1,7,7,Draft,1610612751,New Jersey,Nets,NJN,Seton Hall,College/University,1
7,2205,DeSagana Diop,2001,1,8,8,Draft,1610612739,Cleveland,Cavaliers,CLE,Oak Hill Academy,High School,1
8,2206,Rodney White,2001,1,9,9,Draft,1610612765,Detroit,Pistons,DET,North Carolina-Charlotte,College/University,1
9,2207,Joe Johnson,2001,1,10,10,Draft,1610612738,Boston,Celtics,BOS,Arkansas,College/University,1
10,2208,Kedrick Brown,2001,1,11,11,Draft,1610612738,Boston,Celtics,BOS,Northwest Florida State,College/University,1
11,2209,Vladimir Radmanovic,2001,1,12,12,Draft,1610612760,Seattle,SuperSonics,SEA,KK FMP (Serbia),Other Team/Club,1
12,2210,Richard Jefferson,2001,1,13,13,Draft,1610612745,Houston,Rockets,HOU,Arizona,College/University,1
13,2211,Troy Murphy,2001,1,14,14,Draft,1610612744,Golden State,Warriors,GSW,Notre Dame,College/University,1
14,2212,Steven Hunter,2001,1,15,15,Draft,1610612753,Orlando,Magic,ORL,DePaul,College/University,1
15,2213,Kirk Haston,2001,1,16,16,Draft,1610612766,Charlotte,Hornets,CHH,Indiana,College/University,1
16,2214,Michael Bradley,2001,1,17,17,Draft,1610612761,Toronto,Raptors,TOR,Villanova,College/University,1
17,2215,Jason Collins,2001,1,18,18,Draft,1610612745,Houston,Rockets,HOU,Stanford,College/University,1
18,2216,Zach Randolph,2001,1,19,19,Draft,1610612757,Portland,Trail Blazers,POR,Michigan State,College/University,1
19,2217,Brendan Haywood,2001,1,20,20,Draft,1610612739,Cleveland,Cavaliers,CLE,North Carolina,College/University,1
20,2218,Joseph Forte,2001,1,21,21,Draft,1610612738,Boston,Celtics,BOS,North Carolina,College/University,1
21,2219,Jeryl Sasser,2001,1,22,22,Draft,1610612753,Orlando,Magic,ORL,Southern Methodist,College/University,1
22,2220,Brandon Armstrong,2001,1,23,23,Draft,1610612745,Houston,Rockets,HOU,Pepperdine,College/University,1
23,2221,Raul Lopez,2001,1,24,24,Draft,1610612762,Utah,Jazz,UTA,Real Madrid Baloncesto (Spain),Other Team/Club,1
24,2222,Gerald Wallace,2001,1,25,25,Draft,1610612758,Sacramento,Kings,SAC,Alabama,College/University,1
25,2223,Samuel Dalembert,2001,1,26,26,Draft,1610612755,Philadelphia,76ers,PHI,Seton Hall,College/University,1
26,2224,Jamaal Tinsley,2001,1,27,27,Draft,1610612763,Memphis,Grizzlies,MEM,Iowa State,College/University,1
27,2225,Tony Parker,2001,1,28,28,Draft,1610612759,San Antonio,Spurs,SAS,Paris Basket Racing (France),Other Team/Club,1
28,2239,Trenton Hassell,2001,2,1,29,Draft,1610612741,Chicago,Bulls,CHI,Austin Peay,College/University,1
29,2240,Gilbert Arenas,2001,2,2,30,Draft,1610612744,Golden State,Warriors,GSW,Arizona,College/University,1
30,2241,Omar Cook,2001,2,3,31,Draft,1610612753,Orlando,Magic,ORL,St. John's (NY),College/University,1
31,2226,Will Solomon,2001,2,4,32,Draft,1610612763,Memphis,Grizzlies,MEM,Clemson,College/University,1
32,2242,Terence Morris,2001,2,5,33,Draft,1610612737,Atlanta,Hawks,ATL,Maryland,College/University,1
33,2243,Brian Scalabrine,2001,2,6,34,Draft,1610612751,New Jersey,Nets,NJN,Southern California,College/University,1
34,2244,Jeff Trepagnier,2001,2,7,35,Draft,1610612739,Cleveland,Cavaliers,CLE,Southern California,College/University,1
35,2245,Damone Brown,2001,2,8,36,Draft,1610612755,Philadelphia,76ers,PHI,Syracuse,College/University,1
36,2246,Mehmet Okur,2001,2,9,37,Draft,1610612765,Detroit,Pistons,DET,Anadolu Efes S.K. (Turkey),Other Team/Club,1
37,2247,Michael Wright,2001,2,10,38,Draft,1610612752,New York,Knicks,NYK,Arizona,College/University,0
38,2248,Earl Watson,2001,2,11,39,Draft,1610612760,Seattle,SuperSonics,SEA,California-Los Angeles,College/University,1
39,2249,Jamison Brewer,2001,2,12,40,Draft,1610612754,Indiana,Pacers,IND,Auburn,College/University,1
40,2250,Bobby Simmons,2001,2,13,41,Draft,1610612760,Seattle,SuperSonics,SEA,DePaul,College/University,1
41,2251,Eric Chenowith,2001,2,14,42,Draft,1610612752,New York,Knicks,NYK,Kansas,College/University,1
42,2252,Kyle Hill,2001,2,15,43,Draft,1610612742,Dallas,Mavericks,DAL,Eastern Illinois,College/University,0
43,2253,Sean Lampley,2001,2,16,44,Draft,1610612741,Chicago,Bulls,CHI,California,College/University,1
44,2254,Loren Woods,2001,2,17,45,Draft,1610612750,Minnesota,Timberwolves,MIN,Arizona,College/University,1
45,2255,Ousmane Cisse,2001,2,18,46,Draft,1610612743,Denver,Nuggets,DEN,St. Jude Educational Institute,High School,1
46,2238,Antonis Fotsis,2001,2,19,47,Draft,1610612763,Memphis,Grizzlies,MEM,Panathinaikos B.C. (Greece),Other Team/Club,1
47,2256,Ken Johnson,2001,2,20,48,Draft,1610612748,Miami,Heat,MIA,Ohio State,College/University,1
48,2257,Ruben Boumtje-Boumtje,2001,2,21,49,Draft,1610612757,Portland,Trail Blazers,POR,Georgetown,College/University,1
49,2228,Alton Ford,2001,2,22,50,Draft,1610612756,Phoenix,Suns,PHX,Houston,College/University,1
50,2259,Andre Hutson,2001,2,23,51,Draft,1610612749,Milwaukee,Bucks,MIL,Michigan State,College/University,0
51,2260,Jarron Collins,2001,2,24,52,Draft,1610612762,Utah,Jazz,UTA,Stanford,College/University,1
52,2261,Kenny Satterfield,2001,2,25,53,Draft,1610612742,Dallas,Mavericks,DAL,Cincinnati,College/University,1
53,2262,Maurice Jeffers,2001,2,26,54,Draft,1610612758,Sacramento,Kings,SAC,Saint Louis,College/University,0
54,2263,Robertas Javtokas,2001,2,27,55,Draft,1610612759,San Antonio,Spurs,SAS,BC Lietuvos rytas (Lithuania),Other Team/Club,0
55,2264,Alvin Jones,2001,2,28,56,Draft,1610612755,Philadelphia,76ers,PHI,Georgia Tech,College/University,1
56,2265,Bryan Bracey,2001,2,29,57,Draft,1610612759,San Antonio,Spurs,SAS,Oregon,College/University,0